# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/bin
sdasp.layout
bin
Tools
libgcc_s_dw2-1.dll
libstdc++-6.dll
libwinpthread-1.dll
thgfmRank.dat
thgfmRankServer.cbp
thgfmRankServer.depend
thgfmRankServer.layout
bin
Tools
